Followed_List

<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.followed.count %></td>
        <td>フォロワー数：<%= user.follower.count %></td>
        <% if user != current_user %>
          <td>
            <%= render 'relationships/relationship', user: user %>
          </td>
        <% else %>
          <td></td>
        <% end %>

        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
